@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --orange:#ff7800;
    --black:#130f40;
    --green:#008000;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0,0,0,1);
    --outline: .1rem solid rgba(0,0,0,1);
    --outline-hover: .2rem solid var(--black);

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #ddeedf;
}

section{
   
    padding: 2rem 9%;


}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.btn2{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid #eee;
    color: var(--black);
    cursor: pointer;
    background: #eee;
}
.btn3{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid black;
    color: var(--black);
    cursor: pointer;
    background: #eee;
}
.btn3:hover{
    background: #228b22;
    color: #eee;
}
.btn2:hover{
    background: var(--orange);
    color:black;
}
.btn:hover{
    background:#3cb371;
    color: #fff;
}

.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #9ae17b;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black)
}
.header .logo i{
    color: var(--green);
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header.navbar a:hover,
.navbar li a.active{
    color: #088178;
}
.header .navbar  a.active::after,.navbar li a:hover::after{
    content: " ";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.header .navbar a:hover{
    color: var(--green);
}
.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    cursor: pointer;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    
}
.header .icons div:hover{
    background: var(--green);
    color: #fff;
}
#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right:2rem;
    transition: .3s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;

}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--green);
}

.header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;


}
.header .login-form.active{
    right: 2rem;
    transition: .3s linear;
}
.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-form .box{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    color: var(--green);
    text-decoration: underline;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/men.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 1rem;

}
.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: #eee;
    font-size: 3rem;
}
.home .content h3 span{
    color: var(--orange);
    
}
.home .content p{
    color:#fff;

    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.6rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem ,1fr));
    gap:1.5rem;
}
.services .box-container .box{
    padding: 3rem;
    background:  #c7e0c5;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.services .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
    background: rgb(232,235,231);
    background: linear-gradient(90deg, rgba(232,235,231,0.7120973389355743) 23%, rgba(214,252,188,0.6560749299719888) 75%);
}
.services .box-container .box img{
    margin: 1rem 0;
    height: 15rem;

}
.services .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.services .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

.manur{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/manure2.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.farm{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/farm.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.roof{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/roof.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.prods{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/rooftoping.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.carrot{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/carrotbaner.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.tomata{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/tomatabanner.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.beans{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/beansbanner.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;


}
.cucu{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/beans\ \(1\).png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.oranges{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/orange.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.grapes{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/grape.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.guava{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/guava.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.sunflowers{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/sunflower.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.strawberries{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/strawberry.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.rose{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/rose.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.tulip{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/tulips.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.mangoes{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/mango.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.pineapples{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/pineapple.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.hibiscus{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/hibiscus.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.cauliflowers{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/cauli.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.marigold{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/marigold.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.peppers{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/peppers.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.petunias{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/petunias.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;

}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/about.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30rem;
    padding-bottom: 1rem;
}
.conten{
    text-align: center;
   
    padding-left: 15%;
    padding-right: 15%;
}

.conten h3{
    color: var(--black);
    font-size: 3rem;
}
.conten h3 span{
    color: var(--orange);
    
}
.conten p{
    color:var(--black);
    text-align:left;

    font-size: 1.6rem;
}
.conten .box{
    padding: 3rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}




























































@media (max-width:991px){

        html{
            font-size: 55%
        }
        .header{
            padding:2rem;
        }

}



@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 110%;right:-110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: #fff;
        

    }
    .header .navbar.active{

        right:2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        font-size:2rem;
        margin:2rem 2.5rem;
        display: block;
    }
    


}


@media (max-width:450px){
    html{font-size: 50%;}


}
   

























